@model NetFrameworkWithADONet.Context.EMPTable
@{
    ViewBag.Title = "EmpView";
}


@using(Html.BeginForm("AddEmpView", "Employee",FormMethod.Post))
{
<div class="container">
    <div class="form-group">
        <label>EmpID</label>
        @Html.TextBoxFor(x => x.EmpID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>EmpName</label>
        @Html.TextBoxFor(x => x.EmpName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>EmpLastname </label>
        @Html.TextBoxFor(x => x.EmpLastname, new { @class = "form-control" })
    </div>


    <div class="form-group">
        <label> EmailId </label>
        @Html.TextBoxFor(x => x.EmailId, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label> Password </label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>  City </label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>  Contact </label>
        @Html.TextBoxFor(x => x.ContactNo, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Sumit</button>














</div>
            }

